.form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

// * {
//   font-family: Arial, Helvetica, sans-serif;
// }

body {
  background: whitesmoke;
}

body {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 1.01em !important;
    font-weight: 100;
    // font-family: 'Roboto', sans-serif  !important;
}

#minmax {
  color: red !important;
}

#ls_disc_table {
 
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  width: 640px;
  /* Table reset stuff */
  border-collapse: collapse; border-spacing: 0; 
  
      
  td, th {
    border: 1 solid black!important;
    height: 30px;
    text-align: center;
    padding: 5px;
  }
        
  th {
    /* Gradient Background */
    background: linear-gradient(#333 0%,#444 100%);
    color: #FFF; font-weight: bold;
    height: 40px;
  }
      
  td { background: #FAFAFA; text-align: center; }

  /* Zebra Stripe Rows */
      
  tr:nth-child(even) td { background: #EEE; } 
  tr:nth-child(odd) td { background: #FDFDFD; }

  /* First-child blank cells! */
  tr td:first-child, tr th:first-child { 
    background: none; 
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
    text-align: right;
    padding-right: 10px;
    width: 80px; 
  }

  /* Add border-radius to specific cells! */
  tr:first-child th:nth-child(2) { 
    border-radius: 5px 0 0 0; 
  } 

  tr:first-child th:last-child { 
    border-radius: 0 5px 0 0; 
  }
}

.file_input {
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  opacity: 0;
}