.form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

// * {
//   font-family: Arial, Helvetica, sans-serif;
// }

body {
  background: whitesmoke;
}

body {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 1.01em !important;
    font-weight: 100;
    // font-family: 'Roboto', sans-serif  !important;
}

#minmax {
  color: red !important;
}